.generic
{
text-align:left;	
}

.all{
	float:right;
	text-decoration: none;
}

.search{
	background:url(assets/search.jpg) 
}

.alert{
	color:red;
	text-align: center;
}

.notice{
	color: green;
	text-align: center;
}

.left{
	margin-left: 0;
	padding-top: 23px;
	padding-left: 12px;
}

.filled{
	background-color: green;
}

#home{
	text-align: center;
}

.top_links{
	text-decoration: none;
}